@use 'mixins';

.⁂-accordion {
  @apply rounded-lg bg-white text-gray-900 shadow dark:bg-primary-800 dark:text-gray-100 dark:shadow-none;

  &__header {
    @apply flex w-full items-center justify-between px-4 py-3 font-semibold;
  
    &__actions {
      @apply flex items-center gap-2;
    }

    &__action .⁂-icon {
      @apply size-5 text-gray-700 dark:text-gray-600;
    }

    &__chevron {
      @apply size-5 text-gray-700 transition-transform dark:text-gray-600;
    }
  }

  &__body {
    @apply p-4 rounded-b-lg border-t border-solid border-gray-100 dark:border-primary-900 black:border-black;

    p {
      @include mixins.text;
    }
  }

  &:not(&--expanded) {
    .⁂-accordion {
      &__header__chevron {
        transform: rotate(180deg);
      }

      &__body {
        height: 0;
        display: none;
      }
    }
  }
}

.⁂-divider {
  @apply relative;

  > div:first-child {
    @apply absolute inset-0 flex items-center;

    > div {
      @apply w-full border-t-2 border-solid border-gray-100 black:border-t dark:border-gray-800;
    }
  }

  &__text {
    @apply relative flex justify-center;

    > span {
      @apply bg-white px-2 text-gray-700 black:bg-black dark:bg-gray-900 dark:text-gray-600;
    }
  }
}

.⁂-icon {
  @apply relative flex shrink-0 flex-col;

  &__counter {
    @apply absolute -right-3 -top-2 flex h-5 min-w-[20px] shrink-0 items-center justify-center whitespace-nowrap break-words;
  }
}

.⁂-counter {
  @apply flex h-5 min-w-[20px] max-w-[26px] items-center justify-center rounded-full bg-secondary-500 text-xs font-medium text-white ring-2 ring-white black:ring-black dark:ring-gray-800
}

.⁂-list {
  @apply space-y-0.5;
}

.⁂-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @apply bg-gradient-to-r from-gradient-start/10 to-gradient-end/10 dark:from-gradient-start/10 dark:to-gradient-end/10;

  &--md {
    padding: 0.5rem 1rem;
  }

  &--sm {
    padding: 0.125rem 0.5rem;
  }

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__label {
    @apply flex flex-col py-1.5 pr-4 rtl:pl-4 rtl:pr-0;

    > :first-child {
      @apply text-gray-900 dark:text-gray-100;
    }
  }

  &__hint {
    font-size: 0.875rem;
    line-height: 1.25rem;

    @apply text-gray-700 dark:text-gray-600;
  }

  &__body {
    overflow: hidden;

    @apply text-gray-700 dark:text-gray-600;

    >.⁂-icon {
      margin-left: 0.25rem;

      @apply rtl:rotate-180;
    }
  }
}

a.⁂-list-item,
.⁂-list-item[role='link'] {
  cursor: pointer;

  @apply hover:from-gradient-start/20 hover:to-gradient-end/20 dark:hover:from-gradient-start/5 dark:hover:to-gradient-end/5;
}

.⁂-select {
  @apply truncate rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-primary-500 focus:outline-none focus:ring-primary-500 disabled:opacity-50 black:bg-black dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100 dark:ring-1 dark:ring-gray-800 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:text-sm;
}

.⁂-card-header {
  @apply flex items-center gap-2;

  &__button {
    @apply rounded-full text-gray-900 focus:ring-2 focus:ring-primary-500 dark:text-gray-100;

    >.⁂-icon {
      height: 1.5rem;
      width: 1.5rem;
      @apply rtl:rotate-180;
    }

    &__label {
      @apply sr-only;
    }
  }
}

.⁂-card-title {
  @include mixins.text($size: xl, $weight: bold, $truncate: truncate);
}

.⁂-animated-number {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}
