@use 'mixins';

.⁂-edit-event .⁂-content-type-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 11!important;
  @include mixins.button($theme: muted, $size: xs);

  .⁂-icon svg {
    width: 1rem;
    height: 1rem;
  }
}

.⁂-event-map-modal {
  max-width: 42rem;
}